DATABASE_URL="postgresql://nagatech1@localhost:5432/admin_next_js?schema=public"
JWT_SECRET="isi_dengan_random_string_bebas"
API_SECRET="isi_dengan_random_string_bebas"
NEXT_PUBLIC_API_SECRET="isi_dengan_random_string_bebas"